@media all and (max-width: 1380px) {
  html {
    font-size: 8px;
  }
}

@media all and (max-width: 1200px) {
  html {
    font-size: 7px;
  }

  .section {
    padding-top: 5rem;
  }
}

@media all and (max-width: 992px) {
  .timeline__row {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .section {
    padding-top: 0;
  }
}

@media all and (max-width: 768px) {

  .container {
    padding: 3rem;
  }

  .header-inner {
    margin: 0 auto;
  }
}

@media all and (max-width: 576px) {

  .header-inner {
    max-width: 48rem;
  }

  .header-title {
    font-size: 36px;
  }
}

@media all and (max-width: 480px) {
  .header {
    margin-bottom: 5rem;
  }

  .header-inner {
    max-width: 40rem;
  }

  .header-title {
    font-size: 25px;
  }

  .container {
    padding: 1rem;
  }
}