/* DEFINE CSS VARIABLES */
:root {
  /* simple colors variables */
  --bg-color: #DBE0E4;
  --info-color: #125E75;
  --warning-color: #F89601;
  --success-color: #5A9D36;
  --alert-color: #F7EC00;
  --error-color: #C03430;
  --text-dark-color: #1E1F1A;

  /* color-gradients variables */
  /* --bg-gradient: linear-gradient(90deg, #CBCFD8 0%, #E1E4E9 100%); */
  --info-gradient: linear-gradient(75deg, #0C495C 2.72%, #125E75 90%);
  --warning-gradient: linear-gradient(75deg, #C17205 0%, #F89601 90%);
  --success-gradient: linear-gradient(75deg, #427327 0%, #5A9D36 90%);
  --alert-gradient: linear-gradient(75deg, #BBB103 0%, #F7EC00 90%);
  --error-gradient: linear-gradient(75deg, #8C2724 0%, #C03430 90%);
  --card-gradient: linear-gradient(90deg, #DBE0E4 0%, #FEFEFE 100%);

  /* fonts variables */
  --title-font: "Bebas Neue", sans-serif;
  --text-font: "Teko", sans-serif;
  --main-font: var(--title-font);
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  transition: 0.35s ease-in;

}

body {
  font-family: var(--main-font);
  font-size: 1rem;
  font-weight: 400;
  background: var(--bg-color);
}

.container {
  margin: 0 auto;
  padding: 6rem;
  max-width: 2560px;
  min-height: 100vh;
}

.header {
  margin-bottom: 12.5rem;
}

.header-title {
  font-size: 8.3rem;
  line-height: 0.9;
  text-transform: uppercase;
  white-space: nowrap;
  transform: scale(0.95, 1);
}

.accent-text {
  color: var(--error-color);
}

.black-text {
  color: var(--text-dark-color);
  font-weight: 700;
}

.header-inner {
  max-width: 58rem;
  overflow: hidden;
}

.header-title__decor {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.line {
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--text-dark-color);
}

.dots-block {
  padding: 0 1rem;
  background-color: transparent;
  display: inline-flex;
}

.dot {
  display: block;
  width: 2rem;
  height: 2rem;
  border: none;
  border-radius: 50%;
}

.dot+.dot {
  margin-left: 1rem;
}

.dot-info {
  background-color: var(--info-color);
}

.dot-warning {
  background-color: var(--warning-color);
}

.dot-success {
  background-color: var(--success-color);
}

.dot-alert {
  background-color: var(--alert-color);
}

.dot-error {
  background-color: var(--error-color);
}

.section {
  /* padding: 13.7rem 0 12.5rem; */
  padding-top: 8.7rem;
}

.timeline__row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline__column {
  margin-top: 5rem;
  width: 20%;
  max-width: 35rem;
  min-width: 26rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline__arrow {
  padding: 0 50%;
  /* flex-basis: 1 1 272px; */
  max-width: 27.2rem;
  height: 15.8rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline__arrow--info {
  background: var(--info-gradient);
  z-index: 2;
}

.timeline__arrow--warning {
  background: var(--warning-gradient);
  z-index: -2;
}

.timeline__arrow--success {
  background: var(--success-gradient);
  z-index: -4;
}

.timeline__arrow--alert {
  background: var(--alert-gradient);
  z-index: -6;
}

.timeline__arrow--error {
  background: var(--error-gradient);
  z-index: -8;
}

.timeline__arrow::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  border-left: 2.7rem solid var(--bg-color);
  border-top: 7.9rem solid transparent;
  border-bottom: 7.9rem solid transparent;
}

.timeline__arrow::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  right: -2.7rem;
  border-top: 7.9rem solid transparent;
  border-bottom: 7.9rem solid transparent;
}


.timeline__arrow.timeline__arrow--info::after {
  border-left: 2.7rem solid #125E75;
}

.timeline__arrow.timeline__arrow--warning::after {
  border-left: 2.7rem solid var(--warning-color);
}

.timeline__arrow.timeline__arrow--success::after {
  border-left: 2.7rem solid var(--success-color);
}

.timeline__arrow.timeline__arrow--alert::after {
  border-left: 2.7rem solid var(--alert-color);
}

.timeline__arrow.timeline__arrow--error::after {
  border-left: 2.7rem solid var(--error-color);
}

.timeline__year {
  /* margin-left: 2.5rem; */
  width: 15.7rem;
  height: 15.7rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline__year::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 15.7rem;
  height: 15.7rem;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: var(--card-gradient);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4),
    inset -3px -1px 4px rgba(0, 0, 0, 0.25),
    inset 1px 2px 4px rgba(0, 0, 0, 0.25);
}

.timeline__year::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 18.2rem;
  height: 18.2rem;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  /* border: 12px solid var(--info-color); */
}

.timeline__year--info.timeline__year::before {
  border: 12px solid var(--info-color);
}

.timeline__year--warning.timeline__year::before {
  border: 12px solid var(--warning-color);
}

.timeline__year--success.timeline__year::before {
  border: 12px solid var(--success-color);
}

.timeline__year--alert.timeline__year::before {
  border: 12px solid var(--alert-color);
}

.timeline__year--error.timeline__year::before {
  border: 12px solid var(--error-color);
}

.timeline__text {
  font-size: 8.7rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  transform: scale(0.9, 1);
  position: relative;
  z-index: 3;
}

.timeline__text--info {
  color: var(--info-color);
}

.timeline__text--warning {
  color: var(--warning-color);
}

.timeline__text--success {
  color: var(--success-color);
}

.timeline__text--alert {
  color: var(--alert-color);
}

.timeline__text--error {
  color: var(--error-color);
}

.timeline__card {
  padding: 1.5rem;
  margin-top: 6.2rem;
  max-width: 25rem;
  border-radius: 1rem;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.timeline__card--info {
  background: var(--info-gradient);
}

.timeline__card--warning {
  background: var(--warning-gradient);
}

.timeline__card--success {
  background: var(--success-gradient);
}

.timeline__card--alert {
  background: var(--alert-gradient);
}

.timeline__card--error {
  background: var(--error-gradient);
}

.timeline-card__content {
  padding: 4rem 2rem 3.5rem;
  min-height: 32rem;
  /* flex-basis: 1 1 20%; */
  background: var(--card-gradient);
}

.card__title {
  font-size: 4.4rem;
  white-space: nowrap;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.card__title--info {
  color: var(--info-color);
}

.card__title--warning {
  color: var(--warning-color);
}

.card__title--success {
  color: var(--success-color);
}

.card__title--alert {
  color: var(--alert-color);
}

.card__title--error {
  color: var(--error-color);
}

.card__text {
  font-family: var(--text-font);
  font-size: 2.0rem;
  line-height: 2.0rem;
  letter-spacing: -0.08em;
  text-align: left;
}