/* Bebas Neue Regular 400*/
@font-face {
    font-family: 'Bebas Neue';
    font-weight: 400;
    font-style: normal;
    src: local('Bebas Neue Regular'), local('BebasNeueRegular'),
        url('bebasneueregular.ttf') format('truetype'),
        url('bebasneueregular.woff') format('woff'),
        url('bebasneueregular.woff2') format('woff2');
}

/* Bebas Neue Bold 700*/
@font-face {
    font-family: 'Bebas Neue';
    font-weight: 700;
    font-style: normal;
    src: local('Bebas Neue Bold'), local('BebasNeueBold'),
        url('bebasneuebold.ttf') format('truetype'),
        url('bebasneuebold.woff') format('woff'),
        url('bebasneuebold.woff2') format('woff2');
}

/* Teko Regular 400 */
@font-face {
    font-family: 'Teko';
    font-style: normal;
    font-weight: 400;
    src: local('Teko Regular'), local('Teko-Regular'),
        url('teko-regular.ttf') format('truetype'),
        url('teko-regular.woff') format('woff'),
        url('teko-regular.woff2') format('woff2');
}